---
const {
        gap = "2rem",
        patternHeight = "0.75rem",
        dotSize = "1.2px",
        dotColor = "var(--color-text-primary)",
        dotOpacity = 0.2,
} = Astro.props;
---

<div
        class="dashed-lines"
        style={`--gap: ${gap}; --pattern-height: ${patternHeight}; --dot-size: ${dotSize}; --dot-color: ${dotColor}; --dot-opacity: ${dotOpacity};`}
>
        <hr />
        <hr />
</div>

<style>
        .dashed-lines {
                position: relative;
                width: 100vw;
                background: transparent;
                display: flex;
                flex-direction: column;
                gap: var(--gap);

                hr {
                        width: 100%;
                        border: none;
                        border-top: 2px dashed var(--color-primary-80);
                        margin: 0;
                        background: transparent;
                        opacity: var(--dot-opacity);
                }
        }
</style>
